body{
	--poke-red: #e8332a;
	--poke-grey: #bfbfc9;
	--poke-blue: #3661ac;
	--poke-yellow: #ffcb08;
	
	font-family: sans-serif;
	background-color: var(--poke-blue);
	font-family: 'Courier Prime', monospace;

	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

h1{
	text-align: center;
}

.titleBar{
	padding: 20px 0;
	text-align: center;
	background-color: var(--poke-red);
	border-radius: 8px 8px 0 0;
}

.pokeOutput{
	padding: 20px 50px 30px;
}
.pokeImage{
	height: 80%;
	width: auto;
}
.base-title{
	font-size: 1.3rem;
	font-weight: 700;
}
.stat{
	font-weight: 700;
}
.size{
	align-self: flex-end;
	margin-right: 5px;
}
.name{
	display: block;
	text-transform: capitalize;
	font-size: 1.6rem;
}
.pokeInfo{
	display: inline-block;
	margin-right: 2px;
}

.container{
	max-width: 450px;
	margin-top: 30px;
	margin: auto;
	background-color: #FFFFFF;
	color: #000000;
	border-radius: 15px;
	box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
}

.imageContainer{
	height: 300px;
	background-color: var(--poke-grey);
	border: 1px solid var(--poke-red);
	color: #fff;
	font-size: 1.2rem;
	display: flex;
	flex-direction: column;
}

.pokemonListContainer{
	overflow: scroll;
}
.pokemonListContainer ul{
	list-style: none;
}
.pokemonListContainer ul li{
	margin: 10px 0;
}
.pokemonListContainer ul li a{
	color: var(--poke-blue);
}

.bigBtn{
	height: 40px;
	max-width: 120px;
	font-weight: 700;
	position: relative;
	top: -2px;
}
.changeBtn{
	height: 40px;
	max-width: 54px;
	font-size: 1.5rem;
}
table{
	border-collapse: collapse;
	width: 100%;
	font-size: 1.2rem;
}

td,
th{
	border: 1px solid var(--poke-red);
	text-align: left;
	padding: 8px;
}

tr:nth-child(even){
	background-color: var(--poke-red);
}
.pokeType{
	padding: 5px;
	color: #fff;
	border-radius: 5px;
	text-transform: capitalize;
	margin-left: 5px;
	font-weight: 700;
}


.normal tr:nth-child(even), 
.normal .titleBar{
	background-color: #a8a878;
}
.grass tr:nth-child(even),
.fire .titleBar{
	background-color: #78c850;
}
.ground tr:nth-child(even),
.ground .titleBar{
	background-color: #e0c068;
}
.fighting tr:nth-child(even),
.fighting .titleBar{
	background-color: #c03028;
}
.rock tr:nth-child(even),
.rock .titleBar{
	background-color: #b8a038;
}
.steel tr:nth-child(even),
.steel .titleBar{
	background-color: #b8b8d0;
}
.fire tr:nth-child(even),
.fire .titleBar{
	background-color: #f08030;
}
.electric tr:nth-child(even),
.electric .titleBar{
	background-color: #f8d030;
}
.flying tr:nth-child(even),
.flying .titleBar{
	background-color: #a890f0;
}
.psychic tr:nth-child(even),
.psychic .titleBar{
	background-color: #f85888;
}
.bug tr:nth-child(even),
.bug .titleBar{
	background-color: #a8b820;
}
.dragon tr:nth-child(even),
.dragon .titleBar{
	background-color: #7038f8;
}
.water tr:nth-child(even),
.water .titleBar{
	background-color: #6890f0;
}
.ice tr:nth-child(even),
.ice .titleBar{
	background-color: #98d8d8;
}
.poison tr:nth-child(even),
.poison .titleBar{
	background-color: #a040a0;
}
.dark tr:nth-child(even),
.dark .titleBar{
	background-color: #705848;
}
.ghost tr:nth-child(even),
.ghost .titleBar{
	background-color: #705898;
}
.fairy tr:nth-child(even),
.fairy .titleBar{
	background-color: #ffaec9;
}


.normal .imageContainer, 
.normal td,
.normal th{
	border-color: #a8a878;
}
.grass td,
.grass th,
.fire .imageContainer{
	border-color: #78c850;
}
.ground td,
.ground th,
.ground .imageContainer{
	border-color: #e0c068;
}
.fighting td,
.fighting th,
.fighting .imageContainer{
	border-color: #c03028;
}
.rock td,
.rock th,
.rock .imageContainer{
	border-color: #b8a038;
}
.steel td,
.steel th,
.steel .imageContainer{
	border-color: #b8b8d0;
}
.fire td,
.fire th,
.fire .imageContainer{
	border-color: #f08030;
}
.electric td,
.electric th,
.electric .imageContainer{
	border-color: #f8d030;
}
.flying td,
.flying th,
.flying .imageContainer{
	border-color: #a890f0;
}
.psychic td,
.psychic th,
.psychic .imageContainer{
	border-color: #f85888;
}
.bug td,
.bug th,
.bug .imageContainer{
	border-color: #a8b820;
}
.dragon td,
.dragon th,
.dragon .imageContainer{
	border-color: #7038f8;
}
.water td,
.water th,
.water .imageContainer{
	border-color: #6890f0;
}
.ice td,
.ice th,
.ice .imageContainer{
	border-color: #98d8d8;
}
.poison td,
.poison th,
.poison .imageContainer{
	border-color: #a040a0;
}
.dark td,
.dark th,
.dark .imageContainer{
	border-color: #705848;
}
.ghost td,
.ghost th,
.ghost .imageContainer{
	border-color: #705898;
}
.fairy td,
.fairy th,
.fairy .imageContainer{
	border-color: #ffaec9;
}